
body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
  background: #44637f;
}

::selection {
  color: #00ff90;
}

.text1 {
  text-align: center;
  color: white;
  font-size: 40px;
}

.text2 {
 text-align: center;
 color: white;
 margin: 50px;
 font-size: 30px;
}
.text_end {
 text-align: center;
 color: white;
 margin: 100px;
 font-size: 50px;
}

.secret_text {
  text-align: center;
  color: white;
  font-size: 100px;
}

.imagevivi {
  border-radius: 50%;
width: 150px;
position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  visibility: visible;
}
.buttons {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.buttons {
  background: rgb(0,140,255);
  box-shadow: 0 0 25px rgb(0,140,255);
}

.buttons:hover {
  box-shadow: 0 0 5px rgb(0,140,255),
              0 0 25px rgb(0,140,255),
              0 0 50px rgb(0,140,255),
              0 0 100px rgb(0,140,255);
}

.button1 {
left: 25%;
  position: relative;
  display: linear-block;
  margin-left: auto;
  margin-right: auto;
}
.button2 {
  left: 60%;
  position: relative;
  display: linear-block;
  margin-left: auto;
  margin-right: auto;
}
.secret_button {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
 .secret_text {
       text-decoration: none;
  color: white;
     cursor: default;
     font-size: 16px;
}

footer {
  color: white; 
  text-align: center; 
  padding: 10px; 
}
.separator {
  height: 5px;
  margin-top: 100px;
  margin-bottom: 30px;
  border: none;
  background: linear-gradient(to right, #4F52FF, #5CC6FF);
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 901px) {
}

@media only screen and (max-width: 900px) {
.button1 {
  height: 150px;
  width: 200px;
  position: static;
  margin-right: 50%;
  margin-top: 10%;
}
.button2 {
  height: 150px;
  width: 200px;
  position: static;
  margin-right: 50%;
  margin-top: 10%;
}
}
