body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'PT Sans', sans-serif;
  background-image: linear-gradient(to bottom, #44637f, #3a5670, #304a61, #263e53, #1d3245);
  margin: 0;
  padding: 0;
  color: #fff;
}

::selection {
  color: #00ff90;
}

.text1 {
  text-align: center;
  font-size: 40px;
}

.text2 {
  text-align: center;
  margin: 50px;
  font-size: 30px;
}

.text_end {
  text-align: center;
  margin: 100px;
  font-size: 50px;
}

.secret_text {
  text-align: center;
  font-size: 100px;
}

.imagevivi {
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
  display: block;
  visibility: visible;
}

.imagevivi_404 {
  width: 250px;
  margin: 0 auto;
  display: block;
}

.text1_404 {
  text-align: center;
  font-size: 55px;
  margin-top: 10px;
}

.text2_404 {
  text-align: center;
  font-size: 25px;
  margin-top: 30px;
}

.developers_text {
  text-align: center;
  margin: 15px;
  font-size: 30px;
}

.bluesignimg {
  display: block;
  margin: 0 auto;
  width: 10%;
}

.buttons {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 25px rgb(0, 140, 255);
}

.buttons:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255),
              0 0 25px rgb(0, 140, 255),
              0 0 50px rgb(0, 140, 255),
              0 0 100px rgb(0, 140, 255);
}

.button1,
.button2 {
  height: 150px;
  width: 200px;
  display: block;
  margin: 10px auto;
}

.secret_button {
  margin: 10px auto;
  display: block;
}

.secret_link {
  text-decoration: none;
  color: white;
  cursor: text;
}

footer {
  color: white; 
  text-align: center; 
  padding: 10px; 
}

.separator {
  height: 5px;
  margin-top: 100px;
  margin-bottom: 30px;
  border: none;
  background: linear-gradient(to right, #4F52FF, #5CC6FF);
  border-radius: 10px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.homeiconfooter {
  width: 50px;
  padding: 10px;
}

.codeiconfooter {
  width: 66px;
}

.mailiconfooter {
  width: 60px;
  margin-left: 10px;
}

@media only screen and (max-width: 768px) {
  .buttons {
    width: 150px;
  }
}
