body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Kolor tła strony */
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: #007bff; /* Kolor tła nagłówka */
  padding: 20px;
}

.title {
  font-size: 32px;
  color: #fff; /* Kolor tytułu */
  margin: 0;
  /* Dodaj wzory graficzne do tytułu */
}

.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.feedback-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  min-width: 250px;
  max-width: 300px;
  cursor: pointer;
  overflow: hidden; /* Dodajemy overflow, aby ukryć zawartość po rozwinięciu */
  transition: max-height 0.3s ease-in-out; /* Dodajemy animację */
}

.version {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feedback-details {
  max-height: 0; /* Ukrywamy zawartość na początku */
  overflow: hidden; /* Dodajemy overflow, aby ukryć zawartość po rozwinięciu */
}

.feedback-card.active .feedback-details {
  max-height: 200px; /* Maksymalna wysokość dla rozwiniętej zawartości */
  padding-top: 10px; /* Odstęp powyżej zawartości po rozwinięciu */
}

.change-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.change-list {
  padding-left: 20px;
}
