body {
  font-family: Arial, sans-serif;
  background-color: #262626; 
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  background-color: #007bff; 
  padding: 20px;
}

.title {
  font-size: 32px;
  color: #fff; 
  margin: 0;
}

.feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
}

.feedback-card {
  background-color: #121212;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px auto; /* Wycentrowanie poziome zawartości */
  min-width: 250px;
  max-width: 300px;
  cursor: pointer;
  overflow: hidden; 
  transition: max-height 0.3s ease-in-out; 
}

.version {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.feedback-details {
  max-height: 0; 
  overflow: hidden; 
}

.feedback-card.active .feedback-details {
  max-height: 200px; 
  padding-top: 10px;
}

.change-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.change-list {
  padding-left: 20px;
}

div {
  color: #fff;
}
