        body {
 background-image: url('https://4kwallpapers.com/images/wallpapers/digital-abstract-3d-render-pattern-minimal-art-black-2560x1080-7124.jpg');
               font-family: 'Tilt Neon', cursive;
            background-color: #2c2b3c;
            font-family: Arial, sans-serif;
                color: #ebf0ec;
            text-align: center;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          background-color: rgb(133 133 133 / 25%);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(4px);
        }

        .logo {
            margin-bottom: 30px;
                        animation: fadeIn 1s ease-in-out;
        }

        .status-title {
                        animation: fadeIn 1s ease-in-out;
            font-size: 24px;
            margin-bottom: 30px;
        }

        .status-item {
                        animation: fadeIn 1s ease-in-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            margin: 25px 0;
        }

        .status-icons {
                        animation: fadeIn 1s ease-in-out;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .status-dot {
            color: #00ff90;
              animation: pulse 2s infinite;
        }

        .status-button {
          margin-top:10px;
                        animation: fadeIn 1s ease-in-out;
            font-size: 24px;
            margin: 20px;
            text-decoration: none;
            color:     #ebf0ec;
        }

/*keyframes*/
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


