        body {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3cpath d='M92.16 206.84L135.47 231.84L135.47 281.84L92.16 306.84L48.86 281.84L48.86 231.84zM48.86 281.84L92.16 306.84L92.16 356.84L48.86 381.84L5.56 356.84L5.56 306.84zM92.16 356.84L135.47 381.84L135.47 431.84L92.16 456.84L48.86 431.84L48.86 381.84zM178.77 56.84L222.07 81.84L222.07 131.84L178.77 156.84L135.47 131.84L135.47 81.84zM135.47 131.84L178.77 156.84L178.77 206.84L135.47 231.84L92.16 206.84L92.16 156.84zM135.47 431.84L178.77 456.84L178.77 506.84L135.47 531.84L92.16 506.84L92.16 456.84zM265.37 206.84L308.68 231.84L308.68 281.84L265.37 306.84L222.07 281.84L222.07 231.84zM308.68 131.84L351.98 156.84L351.98 206.84L308.68 231.84L265.37 206.84L265.37 156.84zM351.98 356.84L395.28 381.84L395.28 431.84L351.98 456.84L308.68 431.84L308.68 381.84zM308.68 431.84L351.98 456.84L351.98 506.84L308.68 531.84L265.37 506.84L265.37 456.84zM395.28 -18.16L438.58 6.84L438.58 56.84L395.28 81.84L351.98 56.84L351.98 6.84zM525.19 56.84L568.49 81.84L568.49 131.84L525.19 156.84L481.89 131.84L481.89 81.84zM525.19 206.84L568.49 231.84L568.49 281.84L525.19 306.84L481.89 281.84L481.89 231.84zM481.89 281.84L525.19 306.84L525.19 356.84L481.89 381.84L438.58 356.84L438.58 306.84zM525.19 506.84L568.49 531.84L568.49 581.84L525.19 606.84L481.89 581.84L481.89 531.84zM611.79 356.84L655.1 381.84L655.1 431.84L611.79 456.84L568.49 431.84L568.49 381.84zM655.1 -18.16L698.4 6.84L698.4 56.84L655.1 81.84L611.79 56.84L611.79 6.84zM655.1 131.84L698.4 156.84L698.4 206.84L655.1 231.84L611.79 206.84L611.79 156.84zM741.7 -18.16L785 6.84L785 56.84L741.7 81.84L698.4 56.84L698.4 6.84zM785 206.84L828.31 231.84L828.31 281.84L785 306.84L741.7 281.84L741.7 231.84zM828.31 131.84L871.61 156.84L871.61 206.84L828.31 231.84L785 206.84L785 156.84zM871.61 506.84L914.91 531.84L914.91 581.84L871.61 606.84L828.31 581.84L828.31 531.84zM914.91 131.84L958.21 156.84L958.21 206.84L914.91 231.84L871.61 206.84L871.61 156.84zM1001.52 131.84L1044.82 156.84L1044.82 206.84L1001.52 231.84L958.21 206.84L958.21 156.84zM1044.82 506.84L1088.12 531.84L1088.12 581.84L1044.82 606.84L1001.52 581.84L1001.52 531.84zM1131.42 506.84L1174.72 531.84L1174.72 581.84L1131.42 606.84L1088.12 581.84L1088.12 531.84zM1174.72 -18.16L1218.03 6.84L1218.03 56.84L1174.72 81.84L1131.42 56.84L1131.42 6.84zM1174.72 431.84L1218.03 456.84L1218.03 506.84L1174.72 531.84L1131.42 506.84L1131.42 456.84zM1304.63 206.84L1347.93 231.84L1347.93 281.84L1304.63 306.84L1261.33 281.84L1261.33 231.84zM1261.33 281.84L1304.63 306.84L1304.63 356.84L1261.33 381.84L1218.03 356.84L1218.03 306.84zM1304.63 356.84L1347.93 381.84L1347.93 431.84L1304.63 456.84L1261.33 431.84L1261.33 381.84zM1347.93 -18.16L1391.24 6.84L1391.24 56.84L1347.93 81.84L1304.63 56.84L1304.63 6.84zM1391.24 56.84L1434.54 81.84L1434.54 131.84L1391.24 156.84L1347.93 131.84L1347.93 81.84zM1391.24 206.84L1434.54 231.84L1434.54 281.84L1391.24 306.84L1347.93 281.84L1347.93 231.84zM1434.54 131.84L1477.84 156.84L1477.84 206.84L1434.54 231.84L1391.24 206.84L1391.24 156.84zM1477.84 506.84L1521.14 531.84L1521.14 581.84L1477.84 606.84L1434.54 581.84L1434.54 531.84z' stroke='rgba(0%2c 255%2c 144%2c 0.32)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
               font-family: 'Tilt Neon', cursive;
            background-color: #2c2b3c;
            font-family: Arial, sans-serif;
                color: #ebf0ec;
            text-align: center;
        }

        .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(0, 0, 0, 0.25);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(10px);
        }

        .logo {
            margin-bottom: 30px;
                        animation: fadeIn 1s ease-in-out;
            animation: glow 1s infinite alternate;
        }

        .status-title {
                        animation: fadeIn 1s ease-in-out;
            font-size: 24px;
            margin-bottom: 30px;
        }

        .status-item {
                        animation: fadeIn 1s ease-in-out;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 20px;
            margin: 25px 0;
        }

        .status-icons {
                        animation: fadeIn 1s ease-in-out;
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .status-dot {
            color: #00ff90;
              animation: pulse 2s infinite;
        }

        .status-button {
          margin-top:10px;
                        animation: fadeIn 1s ease-in-out;
            font-size: 24px;
            margin: 20px;
            text-decoration: none;
            color:     #ebf0ec;
        }

/*keyframes*/
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


